emotion_detection/outputs/
emotion_detection/models/
mlflow

__pycache__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock
poetry.toml

# PEP 582
__pypackages__/

# Visual Studio Code
.vscode/

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
